<div class="font" *ngIf="oauth.isConnected()">
  <div class="border">
    <button class="mdc-button logout" *ngIf="oauth.isConnected()" (click)="logout()">
      <i class="material-icons mdc-button__icon">remove circle outline</i>
      Logout : {{oauth.getUsername()}}
    </button>

    <div class="userInfos">
      <p> Welcome {{oauth.getUsername()}} !!</p>
      <div *ngFor="let githubInfo of githubInfos" class="infos">
        <img class="image" src="{{githubInfo.avatar_url}}"/>
        <ul class="mdc-list larger">
          <li class="title"> Repository name: {{githubInfo.name}}</li>
          <li> Files: {{githubInfo.files}}</li>
          <li> Readme: {{githubInfo.readme}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <form *ngIf="!oauth.isConnected()" #data_login="ngForm" (ngSubmit)="login(data_login.value)" class="form">
    <div class="mdc-text-field">
      <input type="text" name="username" placeholder="Username" class="color input mdc-text-field__input" required
             ngModel>
      <div class="mdc-text-field__bottom-line"></div>
    </div>
    <br/>
    <div class="mdc-text-field">
      <input type="password" name="password" placeholder="Password" class="color input mdc-text-field__input" required
             ngModel>
      <div class="mdc-text-field__bottom-line"></div>
    </div>
    <br/>
    <button type="submit" class="mdc-button submit">
      <i class="material-icons mdc-button__icon">power_settings_new</i>
      Login
    </button>
  </form>
</div>

