<div class="font" *ngIf="oauth.isConnected()">


  <div class="userInfos">
    <p> Welcome {{oauth.getUsername()}} !!</p>
    <div *ngFor="let githubInfo of githubInfos" class="infos">
      <p> name: {{githubInfo.name}} </p>
      <p> avatar_url: {{githubInfo.avatar_url}} </p>
      <p> files: {{githubInfo.files}} </p>
      <p> readme: {{githubInfo.readme}} </p>
    </div>
  </div>

  <button class="mdc-button logout" *ngIf="oauth.isConnected()" (click)="logout()">
    <i class="material-icons mdc-button__icon">remove circle outline</i>
    Logout : {{oauth.getUsername()}}
  </button>
</div>
<div>
  <form *ngIf="!oauth.isConnected()" #data_login="ngForm" (ngSubmit)="login(data_login.value)" class="form">
    <div class="mdc-text-field">
      <input type="text" name="username" placeholder="Username" class="color input mdc-text-field__input" required
             ngModel>
      <div class="mdc-text-field__bottom-line"></div>
    </div>

    <div class="mdc-text-field">
      <input type="password" name="password" placeholder="Password" class="color input mdc-text-field__input" required
             ngModel>
      <div class="mdc-text-field__bottom-line"></div>
    </div>

    <button type="submit" class="mdc-button submit">
      <i class="material-icons mdc-button__icon">power_settings_new</i>
      Login
    </button>
  </form>
</div>

