@font-face {
  font-family: 'Neuropol';
  src: url('../../assets/neuropol.ttf');
  font-weight: bold;
}

.padding {
  margin-top: 5%;
  border: 2px solid #af1e23;
}

.center {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
}

.font {
  font-family: 'Neuropol', sans-serif !important;
  text-decoration: underline;
  text-align: center;
}

button {
  border: 2px solid rgba(0, 116, 107, 0.93);
  font-family: 'Neuropol', sans-serif !important;
  background-color: #222e50 !important;
  color: #b1ddf1 !important;
  margin: 2%;
}

.form {
  padding-top: 10%;
  font-family: 'Neuropol', sans-serif !important;
  font-weight: bold;
  text-align: center;
  font-size: larger;
}

.input {
  font-family: 'Neuropol', sans-serif !important;
  color: #1b264f;
}

.logout {
  border: 2px solid #af1e23;
  margin-top: 5%;
  margin-right: 20%;
  float: right;
}

.userInfos{
  font-size: larger;
}
