<div class="mdc-toolbar-fixed-adjust center font">
  <div class="title">
  <h1>
    {{title}}!
  </h1>
  <h3>
    {{this.error}}
  </h3>
  </div>

  <div class="text">
    <p>
      Well, hello there!
    </p>
    <p>
      We're going to now talk to the GitHub API. Ready?
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click here to begin!</a>
    </p>
    <p>
      If that link doesn't work, remember to provide your own <a href="/apps/building-integrations/setting-up-and-registering-oauth-apps/about-authorization-options-for-oauth-apps/">Client ID</a>!
    </p>
  </div>
</div>


<!--div class="mdc-grid-list">
  <ul class="mdc-grid-list__tiles">
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <img class="mdc-grid-tile__primary-content" src="../../assets/index.png" />
      </div>
    </li>
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <img class="mdc-grid-tile__primary-content" src="../../assets/image.png" />
      </div>
    </li>
  </ul>
</div-->
