@font-face {
  font-family: 'Nasalization', sans-serif;
  src: url('assets/nasalization-rg.ttf') format('ttf');
  font-weight: bold;
}

body{
  background-image: url('assets/BG_5.png');
  background-position: center;
  background-attachment: fixed;
  font-weight: bold;
  color: #1b264f;
}

