@font-face {
  font-family: 'Nasalization', sans-serif;
  src: url('assets/nasalization-rg.ttf') format('ttf');
  font-weight: bold;
}

body{
  background: url('assets/BG_5.png') top center no-repeat fixed;
  font-weight: bold;
  color: #1b264f;
}

