<!-- Always shows a header, even in smaller screens. -->


<div class="app color">
  <header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a class="material-icons mdc-toolbar__menu-icon some-button">menu</a>
        <img class="image" src="assets/githubretouche.png" alt="image">
        <span class="mdc-toolbar__title">BoomBoom GitHub</span>
      </section>
      <p class="demo-paragraph">
        <a class="mdl-navigation__link" routerLinkActive="active" routerLink="/"><i class="material-icons color">home</i></a>
        <a class="mdl-navigation__link" routerLinkActive="active" routerLink="/login"><i class="material-icons color">power_settings_new</i></a>
        <a class="mdl-navigation__link" routerLinkActive="active" routerLink="/search"><i class="material-icons color">search</i></a>
      </p>
    </div>
  </header>
  <nav>
    <div class="mdc-simple-menu nav" tabindex="-1">
      <h4>BoomBoom GitHub</h4>
      <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
        <li class="mdc-list-item font" role="menuitem" tabindex="0">
          <a class="mdl-navigation__link component" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li class="mdc-list-item font" role="menuitem" tabindex="1" aria-disabled="true">
          <a class="mdl-navigation__link component" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li class="mdc-list-item font" role="menuitem" tabindex="2" aria-disabled="true">
          <a class="mdl-navigation__link component" routerLinkActive="active" routerLink="/search">Search</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>


<footer class="mdl-mini-footer">

  <div class="footer-social-icons">
    <h4 class="_14">BoomBoom GitHub</h4>
    <h6 class="_15 blue">youcef.fekar@gmail.com</h6>
    <ul class="social-icons">
      <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</footer>

