@font-face {
  font-family: 'Avenger3d';
  src: url('../assets/avenger3d.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenger';
  src: url('../assets/avenger.ttf');
}

.font{
  font-family: 'Neuropol', sans-serif !important;
  text-decoration: underline;
  text-align: center;
}


.app {
  border-top: 5px solid #00b9d1;
}

.color{
  color: white;
}

.nav{
  font-family: 'Avenger', sans-serif !important;
  background-color: #222e50;
  text-decoration: underline;
  color: #ffffff;
  border: 2px solid  rgba(0, 116, 107, 0.93);
}

.component{
  color: #ffffff;
  border-bottom: 1px solid #1b264f;
}

h4{
  border-bottom: 1px solid #1b264f;
}

.mdc-toolbar__row {
  padding-top: 2%;
  background-color: #222e50;
  align-content: space-between;
  padding-right: 10%;
  border-bottom: 5px solid rgba(0, 116, 107, 0.93);
}

.demo-paragraph{
  padding-left: 5%;
}

.mdc-toolbar__title {
  font-family: 'Avenger', sans-serif !important;
  margin-left: 0%;
}

h1 {
  font-weight: bolder;
  color: #ffffff;
}

.font{
  font-family: 'Neuropol', sans-serif !important;
  font-size: smaller;
}

.image {
  margin-top: 20%;
  margin-left: 0%;
  width: 40px;
}


